@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Galatasaray Üniversitesi</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Galatasaray Üniversitesi</h2>
        <p>
            Galatasaray Üniversitesi öğrencileri için yapılmış web sitesine hoşgeldiniz. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Galatasaray Üniversitesi Sayfası</h2>
        <p></p>
        <p><a class="btn btn-default" href="http://gsu.edu.tr/"> Galatasaray Üniversitesi Web Sayfası</a></p>
    </div>
    <div class="col-md-4">
        <h2>Otomasyon Sayfası</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://otomasyon.gsu.edu.tr">Galatasaray Üniversitesi Otomasyon Sistemi</a></p>
    </div>
</div>
<img src="~/data.png" alt="Doluluk Oranı" width="300" height="600" />


